<nz-layout class="app-layout">
  <!-- Linke Sidebar -->
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a>
        <img src="assets/logo.png" alt="logo">
      </a>
    </div>

    <span class="module-name">General Informations</span>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter (click)="openTab('Welcome', '/welcome')">
            Welcome
          </li>
          <li nz-menu-item  >
            Monitor
          </li>
          <li nz-menu-item >
            Workplace
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Master Data" nzIcon="form">
        <ul>
          <li nz-menu-item >
            Test
          </li>
        </ul>
      </li>
    </ul>

    <span class="module-name">Master Data</span>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Driver" nzIcon="user">
        <ul>
          <li nz-menu-item  (click)="openTab('Driver Overview', '/driver-overview')">
            Driver Overview
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Truck" nzIcon="car">
        <ul>
          <li nz-menu-item  (click)="openTab('Test', '/test')">
            test
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <!-- Hauptlayout mit Header und Tabs -->
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger"
             nz-icon
             [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'">
          </span>
        </span>
        <span class="header-trigger" >
          <span nz-icon nzType="clock-circle" nzTheme="outline"></span>
        </span>
        <span class="header-trigger" >
          <span nz-icon nzType="apartment" nzTheme="outline"></span>
        </span>
        <span class="header-trigger" >
          <span nz-icon nzType="zoom-in" nzTheme="outline"></span>
        </span>
      






        <nz-tabset
      [(nzSelectedIndex)]="index"
      nzType="editable-card"
      nzHideAdd
      (nzClose)="closeTab($event)" 
    >
       
        @for (tab of tabs; track tab; let i = $index) {
        <nz-tab [nzTitle]="tab.title" [nzClosable]="true"   >
          <nz-content>
            <div class="inner-content">
              <router-outlet></router-outlet>
            </div>
          </nz-content>
        </nz-tab>
      }
      </nz-tabset>
      </div>

      <!-- Multi-Tabs oben -->
     
    
    </nz-header>

   
  </nz-layout>
</nz-layout>