.container{
    display: flex;
    gap: 16px;
    background-color: #f1f0f0;
    padding: 16px;
}


.formular{
    display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: #f1f0f0;
    padding: 20px;
    margin: 20px;
    input{
    max-width: 400px;
  
    }
}